.Modal {
     position: absolute;
     top: 50%;
     left: 50%;
     right: auto;
     max-width: 600px;
     bottom: auto;
     margin-right: -50%;
     transform: translate(-50%, -50%);
     padding: 1.5em;
     background-color: rgba(255, 255, 255);
}

.Overlay {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(107, 107, 107, 0.853);
}